header {
    height: 50px;
    display: flex;
    justify-content: space-between;
    padding: 2px;
    margin: 3px 3px 3px 3px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    background-color: burlywood;
    color: white;
  }
  
  
  header nav a {
    color: black;
    text-decoration: none;
    margin: 0 0.5rem;
  }
  
  header nav ul {
    display: flex;
    justify-content: right;
    justify-content: space-between;
    margin: 3px 3px 3px 3px;
    padding: 2px;
  }
  
  header nav li {
    display: flex;
  } 